<div class="card flex flex-wrap justify-center items-end gap-6">
    <p-floatlabel variant="in">
        <input pInputText id="email" [(ngModel)]="email" autocomplete="off" />
        <label for="email">מייל</label>
    </p-floatlabel>
    <p-floatlabel variant="in">
        <input pInputText id="password" [(ngModel)]="password" autocomplete="off" />
        <label for="password">סיסמא</label>
    </p-floatlabel>
    <div class="card flex justify-center mt-4">
        <p-button (click)="login()" label="אישור"  />
    </div>
</div>
